version: "3.9"

services:
  chatbot_service:
    build: .
    container_name: fastapi_chatbot
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
